<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>account</title>
	<meta charset="utf-8">
	<meta name="author" content="Jun">

	<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.6.3.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script th:inline="javascript">
		var expenseList = [[${expenseList}]];
	</script>
	<script src="/js/accountChart.js"></script>
</head>
<body>
<div class="container">
	<p th:text="${loginUser.id}"/>
	<p th:text="${loginUser.uuid}"/>
	<div><canvas id="accountChart"></canvas></div>
	<table class="table table-dark table-hover">
		<thead>
		<tr>
			<th scope="col">월</th>
			<th scope="col">고정</th>
			<th scope="col">가변</th>
			<th scope="col">총 지출</th>

		</tr>
		</thead>
		<tbody>
		<tr th:each="expense : ${expenseList}">
			<td th:text="${expense.aggDate}"/>
			<td th:text="${expense.fixValue}"/>
			<td th:text="${expense.varValue}"/>
			<td th:text="${expense.fixValue + expense.varValue}"/>
		</tr>
		</tbody>
	</table>
</div>
</body>
</html>
