<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="author" content="Jun">

	<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="/css/signin.css" rel="stylesheet">
	<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.6.3.min.js"></script>
</head>
<body class="text-center">
	<div class="container overflow-hidden">
		<div class="row gx-6">
			<div class="col-4 m-auto">
				<div class="p-5 border bg-light " style="cursor:pointer" onclick="location='/account'" th:text="#{home.account}"/>
			</div>
			<div class="col-4 m-auto">
				<div class="p-5 border bg-light " style="cursor:pointer" onclick="location='/asset'" th:text="#{home.asset}"/>
			</div>
		</div>
	</div>
</body>
</html>
